<ion-header>
  <ion-toolbar>
      <ion-title class="title">Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">

    <ion-label>Digite os numeros:</ion-label><br><br>

      <ion-list>
        <ion-item class="ion-margin-bottom">
            <ion-icon name="calculator" slot="start" color="if" size="small"></ion-icon>
            <ion-label position="stacked" color="if">Numero 1</ion-label>
            <ion-input formControlName="num1"></ion-input>
        </ion-item><br>

        <ion-item class="ion-margin-bottom">
            <ion-icon name="calculator" slot="start" color="if" size="small"></ion-icon>
            <ion-label position="stacked" color="if">Numero 2</ion-label>
            <ion-input formControlName="num2"></ion-input>
        </ion-item>
      </ion-list><br>

      <ion-button id="divider" [disabled]="form.invalid" (click)="dividir()" expand="block" color="if" class="ion-margin-bottom">Dividir</ion-button>

      <ion-button id="multiplicar" [disabled]="form.invalid" (click)="multiplicar()" expand="block" color="if" class="ion-margin-bottom">Multiplicar</ion-button>

      <ion-button id="subtrair" [disabled]="form.invalid" (click)="subtrair()" expand="block" color="if" class="ion-margin-bottom">Subritrair</ion-button>

      <ion-button id="somar" [disabled]="form.invalid" (click)="somar()" expand="block" color="if" class="ion-margin-bottom">Somar</ion-button><br>

      <p id="quociente" class="ion-text-center">{{quociente}}</p>

  </form> 

</ion-content>