<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-row>
    <ion-col>
        <ion-title >
          App iFinanças
        </ion-title>
    </ion-col>
    <ion-col size="2">
      <ion-icon color="if" name="exit-outline" size="large" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

  <ion-card>
    <ion-item>
      <ion-icon name="calendar" slot="start" color="if"></ion-icon>
      <ion-label><b>Filtrar por Data:</b></ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
    </ion-item>
  </ion-card>

  <dash-card
    valor = {{conta.saldo.valor}}
    tipo = "saldo"
    num = {{conta.saldo.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.receber.valor}}
    tipo = "receber"
    num = {{conta.receber.num}}
  ></dash-card>

  <div id="btnMenu" class="ion-margin-bottom">
      <ion-button [routerLink]="['/contas/pagar']" routerLinkActive="router-link-active"
      fill="outline" shape="round" expand="block" color="if" >Contas a Pagar</ion-button>
  </div>
  <div id="containerbut" class="ion-margin-bottom">
      <ion-button [routerLink]="['/contas/receber']" routerLinkActive="router-link-active" 
      fill="outline" shape="round" expand="block" color="if">Contas a Receber</ion-button>
  </div>      
  <div id="containerbut" class="ion-margin-bottom">
      <ion-button [routerLink]="['/contas/cadastro']" fill="outline" shape="round" color="if" expand="block">Adicionar Conta</ion-button>
  </div>
  <div id="containerbut" class="ion-margin-bottom">
    <ion-button [routerLink]="['/calculadora']" fill="outline" shape="round" color="if" expand="block">Calculadora</ion-button>
</div>
  
</ion-content>
